<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
    <form action="/login" method="get">
      <input type="submit" value="로그인">
    </form>
  <h3>회원 가입</h3>
  <form action="/" method="post">
    <table>
      <tr>
        <td>이름 : </td>
        <td><input type="text" name="userName"></td>
      </tr>
      <tr>
        <td>ID : </td>
        <td><input type="text" name="userEmail"></td>
      </tr>
      <tr>
        <td>비번 : </td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td><input type="submit" value="회원가입"></td>
      </tr>
    </table>
  </form>
</body>
</html>